# Stages
stages:
  - linter
  - code-style


###########
# PHP 5.6 #
###########

# PHP Linter
php-5.6-linter:
  type: linter
  image: mamis/php-build:5.6
  script:
    - php -v
    - sh -c 'if find . -name "*.php" -exec php -l {} 2>&1 \; | grep -v "^No syntax errors detected"; then exit 1; fi'


###########
# PHP 7.0 #
###########

# PHP Linter
php-7.0-linter:
  type: linter
  image: mamis/php-build:7.0
  script:
    - php -v
    - sh -c 'if find . -name "*.php" -exec php -l {} 2>&1 \; | grep -v "^No syntax errors detected"; then exit 1; fi'


###########
# PHP 7.1 #
###########

# PHP Linter
php-7.1-linter:
  type: linter
  image: mamis/php-build:7.1
  script:
    - php -v
    - sh -c 'if find . -name "*.php" -exec php -l {} 2>&1 \; | grep -v "^No syntax errors detected"; then exit 1; fi'


###########
# PHP 7.2 #
###########

# PHP Linter
php-7.2-linter:
  type: linter
  image: mamis/php-build:7.2
  script:
    - php -v
    - sh -c 'if find . -name "*.php" -exec php -l {} 2>&1 \; | grep -v "^No syntax errors detected"; then exit 1; fi'

# PHP CS
php-7.2-phpcs:
  type: code-style
  image: mamis/php-build:7.2
  script:
    - php -v
    - phpcs --version
    - phpcs --colors --standard=PSR2 --report=full .
    - phpcs --colors --standard=PSR2 --report=summary .
    - phpcs --colors --standard=PSR2 --report=gitblame .
  allow_failure: true
