<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="CoffeeParts_Migration" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <file>src</file>
    <exclude-pattern>/vendor/**</exclude-pattern>

    <config name="installed_paths" value="vendor/phpcompatibility/php-compatibility,vendor/magento/magento-coding-standard"/>
    <config name="ignore_errors_on_exit" value="1"/>
    <config name="ignore_warnings_on_exit" value="1"/>
    <config name="error_severity" value="10"/>
    <config name="extensions" value="php,phtml"/>

    <arg name="basepath" value="."/>
    <arg name="report" value="full,summary,gitblame"/>
    <arg name="colors"/>
    <arg name="parallel" value="80"/>
    <arg value="nps"/>

    <rule ref="Magento2"/>
</ruleset>
