<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Shippit_Shipping" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <file>src</file>
    <exclude-pattern>/vendor/**</exclude-pattern>

    <config name="installed_paths" value="vendor/phpcompatibility/php-compatibility,vendor/magento/magento-coding-standard,vendor/mamis/phpcs-coding-standard/src,vendor/escapestudios/symfony2-coding-standard"/>
    <config name="ignore_errors_on_exit" value="1"/>
    <config name="ignore_warnings_on_exit" value="1"/>
    <config name="error_severity" value="10"/>
    <config name="extensions" value="php,phtml"/>

    <arg name="basepath" value="."/>
    <arg name="report" value="full,summary,gitblame"/>
    <arg name="colors"/>
    <arg name="parallel" value="80"/>
    <arg value="nps"/>

    <rule ref="Magento2"/>

    <rule ref="Mamis">
        <!-- Allow prefixed method names -->
        <exclude name="PSR2.Methods.MethodDeclaration.Underscore"/>

        <!-- Allow prefixed property names -->
        <exclude name="PSR2.Classes.PropertyDeclaration.Underscore"/>

        <!-- Allow unordered public,protected,private methods -->
        <exclude name="Symfony.Functions.ScopeOrder.Invalid"/>
    </rule>

    <!-- Require Magento 2.2 support -->
    <rule ref="Magento2.Legacy.InstallUpgrade">
        <severity>9</severity>
        <type>warning</type>
    </rule>
</ruleset>
