<?xml version="1.0"?>
<!--
 * Shippit Pty Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the terms
 * that is available through the world-wide-web at this URL:
 * http://www.shippit.com/terms
 *
 * @category   Shippit
 * @copyright  Copyright (c) 2016 by Shippit Pty Ltd (http://www.shippit.com)
 * @author     Matthew Muscat <matthew@mamis.com.au>
 * @license    http://www.shippit.com/terms
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <!-- Shippit Core Module Configuration -->
        <shippit>
            <general>
                <active>0</active>
                <api_key/>
                <environment>production</environment>
                <debug_active>0</debug_active>
            </general>

            <checkout>
                <authority_to_leave_active>1</authority_to_leave_active>
                <delivery_instructions_active>1</delivery_instructions_active>
            </checkout>

            <sync_order>
                <active>0</active>
                <mode>realtime</mode>
                <send_all_orders>no</send_all_orders>
                <product_location_active>0</product_location_active>
                <product_location_attribute_code></product_location_attribute_code>
            </sync_order>

            <sync_shipping>
                <active>0</active>
            </sync_shipping>
        </shippit>

        <!-- Shippit Carrier Module Configuration -->
        <carriers>
            <shippit>
                <model>Shippit\Shipping\Model\Carrier\Shippit</model>
                <active>0</active>
                <allowed_methods>standard,express,priority</allowed_methods>
                <title>Shippit</title>
                <max_timeslots/>
                <enabled_product_active>0</enabled_product_active>
                <enabled_product_ids/>
                <enabled_product_attribute_active>0</enabled_product_attribute_active>
                <enabled_product_attribute_code/>
                <enabled_product_attribute_value/>
                <sallowspecific/>
                <specificcountry/>
                <showmethod>0</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sort_order>10</sort_order>
            </shippit>
        </carriers>
    </default>
</config>
