<?xml version="1.0"?>
<!--
 * Shippit Pty Ltd
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the terms
 * that is available through the world-wide-web at this URL:
 * http://www.shippit.com/terms
 *
 * @category   Shippit
 * @copyright  Copyright (c) by Shippit Pty Ltd (http://www.shippit.com)
 * @author     Matthew Muscat <matthew@mamis.com.au>
 * @license    http://www.shippit.com/terms
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Shippit_Shipping::sync_order" title="Shippit Order Sync" module="Shippit_Shipping" sortOrder="10" parent="Magento_Sales::sales_operation" action="shippit/sync_order" resource="Shippit_Shipping::sync_order" />

        <add id="Shippit_Shipping::sync_shipment" title="Shippit Shipment Sync" module="Shippit_Shipping" sortOrder="10" parent="Magento_Sales::sales_operation" action="shippit/sync_shipment" resource="Shippit_Shipping::sync_shipment" />
    </menu>
</config>
